
div.ItemDetail {
    margin: 0 auto;
    width: 50%;
    border: 3px solid;
    margin-top: 50px;
}

.btn-Carrito {
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgba(243, 74, 74, 0.301);
}

h2.productName {
    text-align: center;
}

img.imagenDeProducto {
width: 200px;
height: 200px;
}

