
div.ItemDetail {
    margin: 0 auto;
    width: 50%;
    border: 3px solid;
    margin-top: 50px;
}

h2.productName {
    text-align: center;
}

img.imagenDeProducto {
width: 200px;
height: 200px;
}

