.btn-Carritos {
    width: 100px !important;
    border-radius: 30px !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-weight: bold !important;
    color: black !important;
    background-color: rgba(103, 247, 122, 0.712) !important;
    margin-top: 10px !important;
    margin-bottom: 30px !important;
    text-transform: none !important;
}