@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Cute+Font&family=Nunito+Sans:wght@200&family=Yomogi&display=swap');

.tituloTest{
    color: black;
    text-align: center;
    font-size: 33px !important;
    font-family: 'Chilanka', cursive;
    font-weight: bold;
}

.subtitulo {
    text-align: center;
    border-style: none none double none;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.loading {
    font-family: 'Cute Font', cursive;
    font-size: 30px;
}