@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Cute+Font&family=Nunito+Sans:wght@200&family=Yomogi&display=swap');

.theme-light .subtitulo {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 30px;
}

.theme-dark .subtitulo {
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 30px;
}

.theme-light .loading {
    font-family: 'Cute Font', cursive;
    font-size: 30px;
}

.theme-dark .loading {
    font-family: 'Cute Font', cursive;
    font-size: 30px;
}

#products.theme-light {
    text-shadow: 1px 2px 4px rgb(233, 151, 43);
    margin: 0;
}

#products.theme-dark {
    margin: 0;
    background-color: rgb(92, 90, 90);
    color: rgb(212, 212, 211);
    text-shadow: 1px 2px 4px black
}

.theme-light .loading {
    padding: 20px;
}

.theme-dark .loading {
    padding: 20px;
}

.item-list-container{
        width: 90%;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(325px,1fr));
        grid-auto-rows: minmax(570px, auto);
        gap: 35px;
        padding: 20px;
        grid-auto-flow: dense;
}

@media only screen and (max-width:780px){
    .items-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}