@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Nunito+Sans:wght@200&family=Yomogi&display=swap');

h3 {
    font-family: 'Yomogi', cursive;
    font-size: 25px;
}

.btn-comprar {
    border-radius: 30px;
    border-radius: 30px;
    font-weight: bold;
    height: 50px;
    width: 200px;
    margin-bottom: 30px;
}

.fotos{
    border: groove rgb(206, 164, 109) 10px;
}

.theme-dark .fotos {
    border: groove rgb(99, 83, 63) 10px;
}

.theme-dark .h3 {
    font-family: 'Yomogi', cursive;
    font-size: 25px;
    color: wheat;
}

.item-container{
    width: 325px;
    height: 570px;
    margin-block: 20px;
    margin-inline: 30px;
}