@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

.logoMeraki {
    width: 70px;
    float: left;
    padding: 8px;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 70px;
    padding: 25px 0;
    float: right;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(51, 58, 158);
    font-weight: bold;
}

