.total {
    margin-bottom: 4px;
}


@media only screen and (max-width:780px){
    .container-finish-buy{
        display: flex;
        flex-direction: column;
    }
    .potate{
        display: block !important;
    }
}