#contador {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 30px;
    width: 200px;
}

p {
    margin: 15px;
}

Button {
    margin: 10px;
    border-radius: 30px !important;
}

.botonMasMenos {
    border-radius: 30px;
    font-weight: bold;
}
